# Created by Gemini

# IntelliJ IDEA
.idea/
*.iml
out/

# Gradle
.gradle/

# Build output
build/
target/

# Log files
*.log

# OS-specific
.DS_Store
Thumbs.db

# Secret properties
src/main/resources/application-secret.yml
